<div class="wrapper wrapper-content  animated">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <!-- <div class="row">
                        <div class="pull-right" style="margin-right: 2%;">
                            <button class="btn btn-info" type="button" ui-sref="brags.create">Create</button>
                        </div>
                    </div> -->
                </div>
                <div class="ibox-content">
                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <!-- <th>Brag ID</th> -->
                                <th>Brag Title</th>
                                <th>Capture Photo</th>
                                <th>Brag Description</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="brag in brags.result.list">
                                <!-- {{brags.result.list}} -->
                                <!-- <td>
                                    {{brag.id}}
                                </td> -->
                                <td>
                                    {{brag.businessName}}
                                </td>

                                <td>
                                    <img ng-src="{{baseUrl}}/{{brag.images[0]}}" class="img-thumbnail" width="100" />
                                </td>

                                <td>
                                    {{brag.offerDescription}}
                                </td>


                                <td>
                                    <!-- <button type="button" ng-click="edit(user.id)" class="btn btn-primary btn-xs">Edit</button> -->
                                    <button type="button" ng-click="delete(brag.id)" ng-confirm-click="Do you want to delete Brag : {{brag.businessName}}" class="btn btn-danger btn-xs">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>