<div class="wrapper wrapper-content animated fadeIn ecommerce">
    <div class="ibox-content">
        <form name="myRegion">
            <fieldset class="form-horizontal">
                <div class="row">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            <span class="red">*</span>FAQ's</label>
                        <div class="col-sm-10">
                            <text-angular type="text" class="form-control" ng-model="post.data" placeholder="Enter Faq's" role="2" /> </text-angular>
                            <!-- <span class="error">{{errorsinp.address}}</span> -->
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                

                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-6"></div>
                        <div class="col-lg-6 pull-right">
                            <button type="submit" class="btn btn-success" ng-click="save(list)">Submit</button>
                            <button type="button" class="btn btn-danger" ng-click="cancel();">Cancel</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>